@*@model IEnumerable<Vehicle>*@


@model PaginatedList<Vehicle>

@{
    var sortString = Convert.ToString(ViewData["CurrentSort"]);

    string regArrow="down";
    string dateArrow="right";

    if (sortString == "Date")
    {
        dateArrow = "up";
        regArrow = "right";
    }

    else if (sortString == "date_desc")
    {
        dateArrow = "down";
        regArrow = "right";
    }
    else if (sortString == "regnr_desc")
    {
        dateArrow = "right";
        regArrow = "up";
    }
    
}

<table class="table" id="VehicleGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RegistrationNr)
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RegSortParm"]"><i class="bi bi-caret-@regArrow-fill" style="vertical-align:middle"></i></a>
                @*@Html.DisplayNameFor(model => model.FirstOrDefault().RegistrationNr)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TimeOfArrival)<a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]"><i class="bi bi-caret-@dateArrow-fill" style="vertical-align:middle"></i></a>
@*                @Html.DisplayNameFor(model => model.FirstOrDefault().TimeOfArrival)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().HoursParked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BrandDb.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TypeDb.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.RegistrationNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursParked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandDb.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeDb.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="details" href="javascript:;">Details</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Check out</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="d-flex align-items-center">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default border border-gray @prevDisabled">
        @("<") Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default border border-gray px-4 mx-3 @nextDisabled">
        Next @(">")
    </a>
    <label class="">( Page @(Model.PageIndex + "/" + Model.TotalPages) )</label>
</div>

<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vehicle Info</h5>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#VehicleGrid .details").click(function () {
            var regNr = $(this).closest("tr").find("td").eq(0).html().trim();
            var veh = { registrationNr: regNr };
            console.log(veh);
            $.ajax({
                type: "POST",
                url: "/Home/Details",
                data: veh,
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#closeBtn").click(function () {
                $('#partialModal').modal('hide');
            });
        });
    });
</script>


